@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#startScreen {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    font-size: 2em;
    border: 2px solid rgb(95 97 110);
    border-radius: 0.5em;
    padding: 20px;
    width: 10em;
}

#progressBar {
    font-size: 2em;
    text-align: center;
}
